@import '../../../../_variable.scss';

.mat-dialog-container {
    min-width: 700px;
    .navigation {
        justify-content: flex-end;
        display: flex;
    }
    .character-creation-form {
        .mat-form-field {
           flex: 1;       
        }
        .icon-info-wrapper {
            display: flex;
            .icon-section {
                flex: 1;               
                margin-right: 15px;
                max-width: 520px;
                img {
                    width: 100%;                    
                }
            }
            .info-section {
                flex: 1;
                .flex {
                    .mat-form-field {
                        margin-right: 10px;
                        .mat-form-field-infix {
                            width: initial;
                        }
                        .mat-form-field-prefix .mat-icon {
                            font-size: 100%;
                            vertical-align: middle;
                        }
                    }
                }
                .basestat {
                    img {
                       vertical-align: middle;
                    }
                }
                .tier-wrapper {
                    margin-top: 10px;
                    .mat-checkbox {
                        margin-right: 15px;
                        .mat-checkbox-label {
                            font-weight: bold;
                        }
                    }
                }
            }        
        }  
        .skill-section {
            margin-top: 20px;
            .mat-tab-body-content {
                display: flex;
                textarea {
                    background-color: $textareaBackground;
                    padding: 10px;
                    box-sizing: border-box;
                    width: 100%;                
                }
                .description {
                    .mat-form-field-underline {
                        display: none;
                    }
                      
                }                
            }
            .mat-tab-labels {
                padding: 15px;
                .mat-tab-label {
                    min-width: 75px;
                    padding: 15px;
                    &:not(:focus){
                        opacity: 0.4;
                    }
                    &.mat-tab-label-active {
                        opacity: 1;
                    }
                    .mat-tab-label-content img {
                        width: 70px;
                        height: 70px;
                    }
                }  
            } 
            .skill-wrapper {
                flex-direction: column;
                display: flex;
                width: 100%;
                .name-wrapper {
                    display: flex;
                    .clone-btn {
                        width: 100px;
                        height: 34px;
                        margin-left: 10px;
                        margin-bottom: 10px;
                        background-color: $complement;
                        align-self: center;
                    }
                }                
            }         
        }  
    }
    .image-uploader {
        .drop-zone {
            margin-top: 20px;
            border: 1px dashed #e3e3e3;
            border-radius: 5px;
            text-align: center;
            padding: 80px;
            background: none;
        }
    }
}
