$tileColor: red;
$primary: #673ab7;
$complement: #8AB73A;
$fontPrimary: #ffffff;
$textareaBackground: #747d8c;
$altBackground: #424242;

$inputPlaceholder: #f1f2f6;

//Tier 
$NColor: #a4b0be;
$RColor: #1e90ff;
$SRColor: #df6fe0;
$SSRColor: #ff7f50;
$AltColor:#8AB73A;

//Status
$aNormal: gray;
$aArmor: red;
$aTrue: purple;
$dHeal: green;
$dArmor: yellow;
