$tileColor: red;
$primary: #673ab7;
$complement: #8AB73A;
$fontPrimary: #ffffff;
$textareaBackground: #353535;
$background: #2f3542;
$altBackground: #424242;

$inputPlaceholder: #f1f2f6;

//Tier 
$NColor: #a4b0be;
$RColor: #1e90ff;
$SRColor: #df6fe0;
$SSRColor: #ff7f50;
$AltColor:#8AB73A;

//Status
$aNormal: #b1b1b1;
$aArmor: #ff4234;
$aTrue: #965aff;
$dHeal: #8AB73A;
$dArmor: #ffc414;
