/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./_variable.scss";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $background;
}
input, label, .mat-select-value-text, textarea{
    font-size: 14px !important;
}
textarea {
    padding: 15px;
}
.flex {
    display: flex;
}
.btn-grp {
    display: flex;
    justify-content: flex-end;
    button {
        min-width: 100px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }  
}
.form-field {
    height: 65.5px;
    margin-bottom: 5px;
}
.form-label {
    font-size: 11px !important;
    color: $complement;
    font-weight: 300;
}
.mat-dialog-container {
    padding: 0 !important;
    background-color: $altBackground;
    color: $fontPrimary;
    .mat-dialog-title {
        display: flex;
        padding: 15px;
        margin: 0;
        background-color: $primary;
        color: $fontPrimary;
    }
    .mat-dialog-content {
        padding: 20px;
        margin: 0;
        max-height: 80vh;
    }
    .mat-dialog-actions {
        padding: 0 20px 20px;
        margin: 0;
    }
}

.mat-form-field {
    .mat-select-value {
        color: $fontPrimary;
    }
    .mat-input-element, .mat-input-element:disabled {
        caret-color: $complement;
        color: $fontPrimary;
    }
    ::placeholder {
        color: $inputPlaceholder;
        opacity: 1;
    }
    .mat-form-field-label .ng-star-inserted {
        color: $complement;
    }    
    .mat-form-field-underline, &.mat-focused .mat-form-field-ripple {
        background-color: $complement;
    }
    &.mat-form-field-disabled .mat-form-field-underline {
        background-image: linear-gradient(to right, $complement 0,rgba(0,0,0,.42) 33%,#e0232300 0);       
    }
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $complement;
}
.mat-tab
//Tier
.N-color { 
    color: $NColor;
}
.R-color {
    color: $RColor;
}
.SR-color {
    color: $SRColor;
}
.SSR-color {
    color: $SSRColor;
}
.Alt-color {
    color: $AltColor;
}

//Status
.status {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: 100%;
    vertical-align: middle;
}
.an {
    color: $aNormal;
}
.aa {
    color: $aArmor;
}
.at {
    color: $aTrue;
}
.dh {
    color: $dHeal;
}
.da {
    color: $dArmor;
}
.be {
    background-image: url('./assets/img/icon/enhance.png');
}
.bc {
    background-image: url('./assets/img/icon/charisma.png');
}
.br {
    background-image: url('./assets/img/icon/rage.png');
}
.bw {
    background-image: url('./assets/img/icon/warcry.png');
}
.bt {
    background-image: url('./assets/img/icon/taunt.png');
}
.bd {
    background-image: url('./assets/img/icon/damagereduction.png');
}
.bre {
    background-image: url('./assets/img/icon/regen.png');
}
.ba {
    background-image: url('./assets/img/icon/armorshift.png');
}
.bta {
    background-image: url('./assets/img/icon/tankup.png');
}
.bv {
    background-image: url('./assets/img/icon/vigilance.png');
}
.dev {
    background-image: url('./assets/img/icon/vulnerability.png');
}
.det {
    background-image: url('./assets/img/icon/tear.png');
}
.dep {
    background-image: url('./assets/img/icon/poison.png');
}
.dee {
    background-image: url('./assets/img/icon/exhaust.png');
}
.des {
    background-image: url('./assets/img/icon/stun.png');
}